.content-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card h4 {
  opacity: .6;
  text-align: center;
}

.card {
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: left;
  padding: 10px;
  border: 1px solid rgb(230,230,230);
}

.list-inline {
 list-style: disc;
 list-style-position: inside;
}

ul li {
  padding-bottom: 10px;
}
