footer {
  text-align: center;
  background-color: #2c2b2b;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  width: 100%;
}

footer a {
  font-size: 30px;
  color:  green;
}

footer p {
  color: #6B6C6C;
}

footer .fas {
  color: #BF0F12;
}
